parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Console/Commands/InstallAppCommand.php

		-
			message: '#^Parameter \#1 \$path of function basename expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: app/Console/Commands/InstallAppCommand.php

		-
			message: '#^Parameter \#3 \$subject of function preg_replace expects array\<float\|int\|string\>\|string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: app/Console/Commands/InstallAppCommand.php

		-
			message: '#^Instanceof between \$this\(App\\Http\\Resources\\V1\\UserResource\) and Illuminate\\Contracts\\Auth\\MustVerifyEmail will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Http/Resources/V1/UserResource.php

		-
			message: '#^Access to an undefined property App\\Models\\PasswordResetCode\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/PasswordResetCode.php

		-
			message: '#^Access to an undefined property object\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Notifications/Birthday.php

		-
			message: '#^Access to an undefined property object\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/Welcome.php

		-
			message: '#^Trait App\\Traits\\GeoIp is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/GeoIp.php
