.picker-flag {
    --flag-offset: 0px;
    --flag-width: 20px;
    --flag-height: 14px;
    height: var(--flag-height);
    width: var(--flag-width);
    background-image: url('../images/flags.png');
    background-repeat: no-repeat;
    background-position: var(--flag-offset) 0;
    background-size: 5762px 15px;
}

.picker-flag.np {
    --flag-width: 13px;
}

.picker-flag.va,
.picker-flag.ch {
    --flag-width: 15px;
}

.picker-flag.ne,
.picker-flag.be {
    --flag-width: 18px;
}

.picker-flag.mc {
    --flag-width: 19px;
}

.picker-flag.zw,
.picker-flag.ws,
.picker-flag.vg,
.picker-flag.uz,
.picker-flag.uk,
.picker-flag.tv,
.picker-flag.to,
.picker-flag.tl,
.picker-flag.tk,
.picker-flag.tj,
.picker-flag.tc,
.picker-flag.ta,
.picker-flag.su,
.picker-flag.st,
.picker-flag.ss,
.picker-flag.si,
.picker-flag.sh,
.picker-flag.sd,
.picker-flag.sc,
.picker-flag.sb,
.picker-flag.ps,
.picker-flag.pn,
.picker-flag.ph,
.picker-flag.om,
.picker-flag.nz,
.picker-flag.nu,
.picker-flag.nr,
.picker-flag.ng,
.picker-flag.nf,
.picker-flag.nc,
.picker-flag.my,
.picker-flag.ms,
.picker-flag.mp,
.picker-flag.mn,
.picker-flag.mk,
.picker-flag.me,
.picker-flag.md,
.picker-flag.ly,
.picker-flag.lv,
.picker-flag.lk,
.picker-flag.lc,
.picker-flag.kz,
.picker-flag.ky,
.picker-flag.kw,
.picker-flag.kp,
.picker-flag.ki,
.picker-flag.jo,
.picker-flag.jm,
.picker-flag.io,
.picker-flag.im,
.picker-flag.ie,
.picker-flag.hu,
.picker-flag.hr,
.picker-flag.hn,
.picker-flag.hm,
.picker-flag.gw,
.picker-flag.gs,
.picker-flag.gi,
.picker-flag.gb,
.picker-flag.fk,
.picker-flag.fj,
.picker-flag.et,
.picker-flag.er,
.picker-flag.eh,
.picker-flag.dm,
.picker-flag.dg,
.picker-flag.cx,
.picker-flag.cu,
.picker-flag.ck,
.picker-flag.cc,
.picker-flag.ca,
.picker-flag.by,
.picker-flag.bs,
.picker-flag.bn,
.picker-flag.bm,
.picker-flag.ba,
.picker-flag.az,
.picker-flag.au,
.picker-flag.as,
.picker-flag.am,
.picker-flag.ai,
.picker-flag.ae,
.picker-flag.ac {
    --flag-height: 10px;
}

.picker-flag.us,
.picker-flag.um,
.picker-flag.py,
.picker-flag.mh,
.picker-flag.lr,
.picker-flag.gu,
.picker-flag.fm {
    --flag-height: 11px;
}

.picker-flag.vu,
.picker-flag.tt,
.picker-flag.sv,
.picker-flag.ni,
.picker-flag.mx,
.picker-flag.lu,
.picker-flag.lt,
.picker-flag.li,
.picker-flag.km,
.picker-flag.kg,
.picker-flag.je,
.picker-flag.ir,
.picker-flag.ht,
.picker-flag.gy,
.picker-flag.gd,
.picker-flag.fi,
.picker-flag.de,
.picker-flag.cv,
.picker-flag.cr,
.picker-flag.cq,
.picker-flag.bz,
.picker-flag.bi,
.picker-flag.bh,
.picker-flag.bg,
.picker-flag.bd {
    --flag-height: 12px;
}

.picker-flag.tg,
.picker-flag.se,
.picker-flag.pw,
.picker-flag.pl,
.picker-flag.kh,
.picker-flag.gt,
.picker-flag.ee,
.picker-flag.ax,
.picker-flag.ar {
    --flag-height: 13px;
}

.picker-flag.xk,
.picker-flag.va,
.picker-flag.sm,
.picker-flag.sj,
.picker-flag.pg,
.picker-flag.np,
.picker-flag.no,
.picker-flag.ne,
.picker-flag.mc,
.picker-flag.is,
.picker-flag.il,
.picker-flag.ga,
.picker-flag.fo,
.picker-flag.dk,
.picker-flag.ch,
.picker-flag.cd,
.picker-flag.bv,
.picker-flag.be,
.picker-flag.al {
    --flag-height: 15px;
}

.picker-flag.qa {
    --flag-height: 8px;
}

.picker-flag.ac {
    --flag-offset: 0px;
}

.picker-flag.ad {
    --flag-offset: -22px;
}

.picker-flag.ae {
    --flag-offset: -44px;
}

.picker-flag.af {
    --flag-offset: -66px;
}

.picker-flag.ag {
    --flag-offset: -88px;
}

.picker-flag.ai {
    --flag-offset: -110px;
}

.picker-flag.al {
    --flag-offset: -132px;
}

.picker-flag.am {
    --flag-offset: -154px;
}

.picker-flag.ao {
    --flag-offset: -176px;
}

.picker-flag.aq {
    --flag-offset: -198px;
}

.picker-flag.ar {
    --flag-offset: -220px;
}

.picker-flag.as {
    --flag-offset: -242px;
}

.picker-flag.at {
    --flag-offset: -264px;
}

.picker-flag.au {
    --flag-offset: -286px;
}

.picker-flag.aw {
    --flag-offset: -308px;
}

.picker-flag.ax {
    --flag-offset: -330px;
}

.picker-flag.az {
    --flag-offset: -352px;
}

.picker-flag.ba {
    --flag-offset: -374px;
}

.picker-flag.bb {
    --flag-offset: -396px;
}

.picker-flag.bd {
    --flag-offset: -418px;
}

.picker-flag.be {
    --flag-offset: -440px;
}

.picker-flag.bf {
    --flag-offset: -460px;
}

.picker-flag.bg {
    --flag-offset: -482px;
}

.picker-flag.bh {
    --flag-offset: -504px;
}

.picker-flag.bi {
    --flag-offset: -526px;
}

.picker-flag.bj {
    --flag-offset: -548px;
}

.picker-flag.bl {
    --flag-offset: -570px;
}

.picker-flag.bm {
    --flag-offset: -592px;
}

.picker-flag.bn {
    --flag-offset: -614px;
}

.picker-flag.bo {
    --flag-offset: -636px;
}

.picker-flag.bq {
    --flag-offset: -658px;
}

.picker-flag.br {
    --flag-offset: -680px;
}

.picker-flag.bs {
    --flag-offset: -702px;
}

.picker-flag.bt {
    --flag-offset: -724px;
}

.picker-flag.bv {
    --flag-offset: -746px;
}

.picker-flag.bw {
    --flag-offset: -768px;
}

.picker-flag.by {
    --flag-offset: -790px;
}

.picker-flag.bz {
    --flag-offset: -812px;
}

.picker-flag.ca {
    --flag-offset: -834px;
}

.picker-flag.cc {
    --flag-offset: -856px;
}

.picker-flag.cd {
    --flag-offset: -878px;
}

.picker-flag.cf {
    --flag-offset: -900px;
}

.picker-flag.cg {
    --flag-offset: -922px;
}

.picker-flag.ch {
    --flag-offset: -944px;
}

.picker-flag.ci {
    --flag-offset: -961px;
}

.picker-flag.ck {
    --flag-offset: -983px;
}

.picker-flag.cl {
    --flag-offset: -1005px;
}

.picker-flag.cm {
    --flag-offset: -1027px;
}

.picker-flag.cn {
    --flag-offset: -1049px;
}

.picker-flag.co {
    --flag-offset: -1071px;
}

.picker-flag.cp {
    --flag-offset: -1093px;
}

.picker-flag.cq {
    --flag-offset: -1115px;
}

.picker-flag.cr {
    --flag-offset: -1137px;
}

.picker-flag.cu {
    --flag-offset: -1159px;
}

.picker-flag.cv {
    --flag-offset: -1181px;
}

.picker-flag.cw {
    --flag-offset: -1203px;
}

.picker-flag.cx {
    --flag-offset: -1225px;
}

.picker-flag.cy {
    --flag-offset: -1247px;
}

.picker-flag.cz {
    --flag-offset: -1269px;
}

.picker-flag.de {
    --flag-offset: -1291px;
}

.picker-flag.dg {
    --flag-offset: -1313px;
}

.picker-flag.dj {
    --flag-offset: -1335px;
}

.picker-flag.dk {
    --flag-offset: -1357px;
}

.picker-flag.dm {
    --flag-offset: -1379px;
}

.picker-flag.do {
    --flag-offset: -1401px;
}

.picker-flag.dz {
    --flag-offset: -1423px;
}

.picker-flag.ea {
    --flag-offset: -1445px;
}

.picker-flag.ec {
    --flag-offset: -1467px;
}

.picker-flag.ee {
    --flag-offset: -1489px;
}

.picker-flag.eg {
    --flag-offset: -1511px;
}

.picker-flag.eh {
    --flag-offset: -1533px;
}

.picker-flag.er {
    --flag-offset: -1555px;
}

.picker-flag.es {
    --flag-offset: -1577px;
}

.picker-flag.et {
    --flag-offset: -1599px;
}

.picker-flag.eu {
    --flag-offset: -1621px;
}

.picker-flag.ez {
    --flag-offset: -1643px;
}

.picker-flag.fi {
    --flag-offset: -1665px;
}

.picker-flag.fj {
    --flag-offset: -1687px;
}

.picker-flag.fk {
    --flag-offset: -1709px;
}

.picker-flag.fm {
    --flag-offset: -1731px;
}

.picker-flag.fo {
    --flag-offset: -1753px;
}

.picker-flag.fr {
    --flag-offset: -1775px;
}

.picker-flag.fx {
    --flag-offset: -1797px;
}

.picker-flag.ga {
    --flag-offset: -1819px;
}

.picker-flag.gb {
    --flag-offset: -1841px;
}

.picker-flag.gd {
    --flag-offset: -1863px;
}

.picker-flag.ge {
    --flag-offset: -1885px;
}

.picker-flag.gf {
    --flag-offset: -1907px;
}

.picker-flag.gg {
    --flag-offset: -1929px;
}

.picker-flag.gh {
    --flag-offset: -1951px;
}

.picker-flag.gi {
    --flag-offset: -1973px;
}

.picker-flag.gl {
    --flag-offset: -1995px;
}

.picker-flag.gm {
    --flag-offset: -2017px;
}

.picker-flag.gn {
    --flag-offset: -2039px;
}

.picker-flag.gp {
    --flag-offset: -2061px;
}

.picker-flag.gq {
    --flag-offset: -2083px;
}

.picker-flag.gr {
    --flag-offset: -2105px;
}

.picker-flag.gs {
    --flag-offset: -2127px;
}

.picker-flag.gt {
    --flag-offset: -2149px;
}

.picker-flag.gu {
    --flag-offset: -2171px;
}

.picker-flag.gw {
    --flag-offset: -2193px;
}

.picker-flag.gy {
    --flag-offset: -2215px;
}

.picker-flag.hk {
    --flag-offset: -2237px;
}

.picker-flag.hm {
    --flag-offset: -2259px;
}

.picker-flag.hn {
    --flag-offset: -2281px;
}

.picker-flag.hr {
    --flag-offset: -2303px;
}

.picker-flag.ht {
    --flag-offset: -2325px;
}

.picker-flag.hu {
    --flag-offset: -2347px;
}

.picker-flag.ic {
    --flag-offset: -2369px;
}

.picker-flag.id {
    --flag-offset: -2391px;
}

.picker-flag.ie {
    --flag-offset: -2413px;
}

.picker-flag.il {
    --flag-offset: -2435px;
}

.picker-flag.im {
    --flag-offset: -2457px;
}

.picker-flag.in {
    --flag-offset: -2479px;
}

.picker-flag.io {
    --flag-offset: -2501px;
}

.picker-flag.iq {
    --flag-offset: -2523px;
}

.picker-flag.ir {
    --flag-offset: -2545px;
}

.picker-flag.is {
    --flag-offset: -2567px;
}

.picker-flag.it {
    --flag-offset: -2589px;
}

.picker-flag.je {
    --flag-offset: -2611px;
}

.picker-flag.jm {
    --flag-offset: -2633px;
}

.picker-flag.jo {
    --flag-offset: -2655px;
}

.picker-flag.jp {
    --flag-offset: -2677px;
}

.picker-flag.ke {
    --flag-offset: -2699px;
}

.picker-flag.kg {
    --flag-offset: -2721px;
}

.picker-flag.kh {
    --flag-offset: -2743px;
}

.picker-flag.ki {
    --flag-offset: -2765px;
}

.picker-flag.km {
    --flag-offset: -2787px;
}

.picker-flag.kn {
    --flag-offset: -2809px;
}

.picker-flag.kp {
    --flag-offset: -2831px;
}

.picker-flag.kr {
    --flag-offset: -2853px;
}

.picker-flag.kw {
    --flag-offset: -2875px;
}

.picker-flag.ky {
    --flag-offset: -2897px;
}

.picker-flag.kz {
    --flag-offset: -2919px;
}

.picker-flag.la {
    --flag-offset: -2941px;
}

.picker-flag.lb {
    --flag-offset: -2963px;
}

.picker-flag.lc {
    --flag-offset: -2985px;
}

.picker-flag.li {
    --flag-offset: -3007px;
}

.picker-flag.lk {
    --flag-offset: -3029px;
}

.picker-flag.lr {
    --flag-offset: -3051px;
}

.picker-flag.ls {
    --flag-offset: -3073px;
}

.picker-flag.lt {
    --flag-offset: -3095px;
}

.picker-flag.lu {
    --flag-offset: -3117px;
}

.picker-flag.lv {
    --flag-offset: -3139px;
}

.picker-flag.ly {
    --flag-offset: -3161px;
}

.picker-flag.ma {
    --flag-offset: -3183px;
}

.picker-flag.mc {
    --flag-offset: -3205px;
}

.picker-flag.md {
    --flag-offset: -3226px;
}

.picker-flag.me {
    --flag-offset: -3248px;
}

.picker-flag.mf {
    --flag-offset: -3270px;
}

.picker-flag.mg {
    --flag-offset: -3292px;
}

.picker-flag.mh {
    --flag-offset: -3314px;
}

.picker-flag.mk {
    --flag-offset: -3336px;
}

.picker-flag.ml {
    --flag-offset: -3358px;
}

.picker-flag.mm {
    --flag-offset: -3380px;
}

.picker-flag.mn {
    --flag-offset: -3402px;
}

.picker-flag.mo {
    --flag-offset: -3424px;
}

.picker-flag.mp {
    --flag-offset: -3446px;
}

.picker-flag.mq {
    --flag-offset: -3468px;
}

.picker-flag.mr {
    --flag-offset: -3490px;
}

.picker-flag.ms {
    --flag-offset: -3512px;
}

.picker-flag.mt {
    --flag-offset: -3534px;
}

.picker-flag.mu {
    --flag-offset: -3556px;
}

.picker-flag.mv {
    --flag-offset: -3578px;
}

.picker-flag.mw {
    --flag-offset: -3600px;
}

.picker-flag.mx {
    --flag-offset: -3622px;
}

.picker-flag.my {
    --flag-offset: -3644px;
}

.picker-flag.mz {
    --flag-offset: -3666px;
}

.picker-flag.na {
    --flag-offset: -3688px;
}

.picker-flag.nc {
    --flag-offset: -3710px;
}

.picker-flag.ne {
    --flag-offset: -3732px;
}

.picker-flag.nf {
    --flag-offset: -3752px;
}

.picker-flag.ng {
    --flag-offset: -3774px;
}

.picker-flag.ni {
    --flag-offset: -3796px;
}

.picker-flag.nl {
    --flag-offset: -3818px;
}

.picker-flag.no {
    --flag-offset: -3840px;
}

.picker-flag.np {
    --flag-offset: -3862px;
}

.picker-flag.nr {
    --flag-offset: -3877px;
}

.picker-flag.nu {
    --flag-offset: -3899px;
}

.picker-flag.nz {
    --flag-offset: -3921px;
}

.picker-flag.om {
    --flag-offset: -3943px;
}

.picker-flag.pa {
    --flag-offset: -3965px;
}

.picker-flag.pe {
    --flag-offset: -3987px;
}

.picker-flag.pf {
    --flag-offset: -4009px;
}

.picker-flag.pg {
    --flag-offset: -4031px;
}

.picker-flag.ph {
    --flag-offset: -4053px;
}

.picker-flag.pk {
    --flag-offset: -4075px;
}

.picker-flag.pl {
    --flag-offset: -4097px;
}

.picker-flag.pm {
    --flag-offset: -4119px;
}

.picker-flag.pn {
    --flag-offset: -4141px;
}

.picker-flag.pr {
    --flag-offset: -4163px;
}

.picker-flag.ps {
    --flag-offset: -4185px;
}

.picker-flag.pt {
    --flag-offset: -4207px;
}

.picker-flag.pw {
    --flag-offset: -4229px;
}

.picker-flag.py {
    --flag-offset: -4251px;
}

.picker-flag.qa {
    --flag-offset: -4273px;
}

.picker-flag.re {
    --flag-offset: -4295px;
}

.picker-flag.ro {
    --flag-offset: -4317px;
}

.picker-flag.rs {
    --flag-offset: -4339px;
}

.picker-flag.ru {
    --flag-offset: -4361px;
}

.picker-flag.rw {
    --flag-offset: -4383px;
}

.picker-flag.sa {
    --flag-offset: -4405px;
}

.picker-flag.sb {
    --flag-offset: -4427px;
}

.picker-flag.sc {
    --flag-offset: -4449px;
}

.picker-flag.sd {
    --flag-offset: -4471px;
}

.picker-flag.se {
    --flag-offset: -4493px;
}

.picker-flag.sg {
    --flag-offset: -4515px;
}

.picker-flag.sh {
    --flag-offset: -4537px;
}

.picker-flag.si {
    --flag-offset: -4559px;
}

.picker-flag.sj {
    --flag-offset: -4581px;
}

.picker-flag.sk {
    --flag-offset: -4603px;
}

.picker-flag.sl {
    --flag-offset: -4625px;
}

.picker-flag.sm {
    --flag-offset: -4647px;
}

.picker-flag.sn {
    --flag-offset: -4669px;
}

.picker-flag.so {
    --flag-offset: -4691px;
}

.picker-flag.sr {
    --flag-offset: -4713px;
}

.picker-flag.ss {
    --flag-offset: -4735px;
}

.picker-flag.st {
    --flag-offset: -4757px;
}

.picker-flag.su {
    --flag-offset: -4779px;
}

.picker-flag.sv {
    --flag-offset: -4801px;
}

.picker-flag.sx {
    --flag-offset: -4823px;
}

.picker-flag.sy {
    --flag-offset: -4845px;
}

.picker-flag.sz {
    --flag-offset: -4867px;
}

.picker-flag.ta {
    --flag-offset: -4889px;
}

.picker-flag.tc {
    --flag-offset: -4911px;
}

.picker-flag.td {
    --flag-offset: -4933px;
}

.picker-flag.tf {
    --flag-offset: -4955px;
}

.picker-flag.tg {
    --flag-offset: -4977px;
}

.picker-flag.th {
    --flag-offset: -4999px;
}

.picker-flag.tj {
    --flag-offset: -5021px;
}

.picker-flag.tk {
    --flag-offset: -5043px;
}

.picker-flag.tl {
    --flag-offset: -5065px;
}

.picker-flag.tm {
    --flag-offset: -5087px;
}

.picker-flag.tn {
    --flag-offset: -5109px;
}

.picker-flag.to {
    --flag-offset: -5131px;
}

.picker-flag.tr {
    --flag-offset: -5153px;
}

.picker-flag.tt {
    --flag-offset: -5175px;
}

.picker-flag.tv {
    --flag-offset: -5197px;
}

.picker-flag.tw {
    --flag-offset: -5219px;
}

.picker-flag.tz {
    --flag-offset: -5241px;
}

.picker-flag.ua {
    --flag-offset: -5263px;
}

.picker-flag.ug {
    --flag-offset: -5285px;
}

.picker-flag.uk {
    --flag-offset: -5307px;
}

.picker-flag.um {
    --flag-offset: -5329px;
}

.picker-flag.un {
    --flag-offset: -5351px;
}

.picker-flag.us {
    --flag-offset: -5373px;
}

.picker-flag.uy {
    --flag-offset: -5395px;
}

.picker-flag.uz {
    --flag-offset: -5417px;
}

.picker-flag.va {
    --flag-offset: -5439px;
}

.picker-flag.vc {
    --flag-offset: -5456px;
}

.picker-flag.ve {
    --flag-offset: -5478px;
}

.picker-flag.vg {
    --flag-offset: -5500px;
}

.picker-flag.vi {
    --flag-offset: -5522px;
}

.picker-flag.vn {
    --flag-offset: -5544px;
}

.picker-flag.vu {
    --flag-offset: -5566px;
}

.picker-flag.wf {
    --flag-offset: -5588px;
}

.picker-flag.ws {
    --flag-offset: -5610px;
}

.picker-flag.xk {
    --flag-offset: -5632px;
}

.picker-flag.ye {
    --flag-offset: -5654px;
}

.picker-flag.yt {
    --flag-offset: -5676px;
}

.picker-flag.za {
    --flag-offset: -5698px;
}

.picker-flag.zm {
    --flag-offset: -5720px;
}

.picker-flag.zw {
    --flag-offset: -5742px;
}
